
@{
    ViewData["Title"] = "View";
}

@section Styles {
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-balham.css">
    <!--need to load this before widgets added-->
    <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
}


<h2>View Data</h2>
<p style="display:none" id="serviceUrlStore">@ViewData["serviceUrl"]</p>
<p>ServiceUrl: @ViewData["serviceUrl"]</p>
<p id="statusMsg">You must specify a REST feature layer to see data </p>

<div id="dataGridWidget" class="ag-theme-balham"></div>

@section Scripts{

}