
@{
    ViewData["Title"] = "View";
}

@section Styles {
    <link rel="stylesheet" href="https://js.arcgis.com/4.10/dgrid/css/dgrid.css">
    <style>
        .dgrid-grid {
            width: 100%
        }

        .dgrid-cell .dgrid-header {
            width: 100px;
        }
        .dgrid-scroller {
            overflow-x: scroll;
        }
    </style>
}


<h2>View Data</h2>
<p style="display:none" id="serviceUrlStore">@ViewData["serviceUrl"]</p>
<p>ServiceUrl: @ViewData["serviceUrl"]</p>
<button id="button12" onclick="dataGrid.fetchData();">Reload</button>
<p id="statusMsg">You must specify a REST feature layer to see data </p>

<div id="dataGridWidget">
</div>


@section Scripts{

}