
@{
    ViewData["Title"] = "View";
}

<h2>View</h2>
<p style="display:none" id="serviceUrlStore">@ViewData["serviceUrl"]</p>
<p style="display:none" id="IdentityMgr">@ViewData["identityMgr"]</p>
<p>ServiceUrl: @ViewData["serviceUrl"]</p>
<p>Add a feature layer REST url to see data in this map.</p>

<!--Wrapper-->
<div class="wrapper" id="bigbox">
    <section id="main" class="inner">
        <h2 class="major">
            Map
        </h2>
        <div id="map"></div>
        <div id="gridholder">
            <div id="grid"></div>
        </div>

        <div id="maptextbox" class="random" style="display:none">
            <button class="button small pull-right" id="Next" hidden>Next</button>
            <div>
                <ul class="cityname alt" style="vertical-align: bottom"></ul>
            </div>
        </div>
        <div><p id="errorMsg"></p></div>

    </section>
</div>

@section Scripts{

    <script>
        window.onload = function () {
            
        }

    </script>
}