<div id="${baseClass}${oid}">
    <div id="signInAGOL${oid}"
         data-dojo-attach-event="ondijitclick: signIn" class="tooltip1">
        <i class="glyphicon glyphicon-user"></i>
        <span data-dojo-attach-point="_username" id="_username${oid}">Sign In</span>
        <span class="tooltiptext small" data-dojo-attach-point="_userinfo" id="_userinfo${oid}">ArcGIS.com username</span>
        <a href='no-javascript.html' title='sign out' data-dojo-attach-point="_signout" id='_signout${oid}' style="display: none">(Sign Out)</a>
    </div>
</div>