<div id="${baseClass}${oid}" class="modal fade in" role="dialog" style="display: none; padding-right: 17px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="modalFieldclose" data-dismiss="modal" data-dojo-attach-event="ondijitclick:_close">x</button>
                <h4 class="modal-title">${title}</h4>
                <p>${msg}</p>
            </div>
            <div class="modal-body" id="content-wrapper">
                <div class="contentModalWidget">
                    <div id="includeItems${oid}"  class="includeItems">
                        <p><a id="includeAll" data-dojo-attach-event="ondijitclick:_includeAll">Include All </a></p>
                        <div data-dojo-attach-point="includeItems" data-dojo-attach-event="ondijitclick:_fldKeywordClick">
                            <!-- field names go here -->
                        </div>
                    </div>
                    <div id="excludeItems${oid}" class="excludeItems">
                        <p><a id="excludeAll"  data-dojo-attach-event="ondijitclick:_excludeAll">Exclude All </a></p>
                        <div data-dojo-attach-point="excludeItems" data-dojo-attach-event="ondijitclick:_fldKeywordClick">
                            <!-- field names go here -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default close" data-dismiss="modal" data-dojo-attach-event="ondijitclick:_close">Close</button>
            </div>
        </div>
    </div>
</div>